			* {
				font-family: "微软雅黑";
				margin: 0px;
				padding: 0px;
				font-size: 14px;
				color: #666;
			}
			
			body {
				background-color: white;
			}
			
			li {
				display: inline;
			}
			
			textarea {
				width: 100%;
				outline: none;
				resize: none
			}
			
			table {
				border-spacing: 0px;
				width: 100%;
			}
			
			a {
				text-decoration: none;
			}
			
			body {
				background-color: #fff;
			}
			
			.ovfHiden {
				overflow: hidden;
				height: 100%;
			}
			/*input{border: none;}*/
			
			input:focus {
				color: #666;
				border: 1px solid #f1f1f1;
				background-color: #fff;
				outline: none;
			}
			
			.head {
				position: fixed;
				top: 0px;
				width: 100%;
				background-color: #fff;
				z-index: 500;
			}
			
			.head_l {
				text-align: center;
				padding: 10px 0px;
				position: relative;
				border-bottom: 8px solid #f1f1f1;
			}
			
			.back {
				float: left;
				position: absolute;
				left: 13px;
				top: 7px;
			}
			
			.back img {
				width: 25px;
			}
			
			.login_head {
				font-size: 16px;
			}
			
			.register_on {
				position: absolute;
				right: 15px;
				top: 10px;
			}
			/*body*/
			
			.body {
				margin: 50px 0px;
			}
			.bill_ul{
				padding: 10px;
			}
			.bill_list{
				border-bottom: 1px solid #f1f1f1;
				padding-bottom: 5px;
			}
			.bill_list p:nth-child(1){
				font-size: 12px;
				color: #cdcdcd;
			}
			.bill_list p:nth-child(1) span{
				font-size: 12px;
				color: #cdcdcd;
			}
			.bill_list p:nth-child(3){
				font-size: 12px;
				color: #cdcdcd;
			}