* {
	font-family: "微软雅黑";
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	color: #666;
}

body {
	background-color: white;
}

li {
	display: inline;
}

textarea {
	width: 100%;
	outline: none;
	resize: none
}

table {
	border-spacing: 0px;
	width: 100%;
}

a {
	text-decoration: none;
}

body {
	background-color: #fff;
}

.ovfHiden {
	overflow: hidden;
	height: 100%;
}


input:focus {
	color: #666;
	border: 1px solid #f1f1f1;
	background-color: #fff;
	outline: none;
}

.head {
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: #fff;
	z-index: 500;
}

.head_l {
	text-align: center;
	padding: 10px 0px;
	position: relative;
	border-bottom: 8px solid #f1f1f1;
}

.back {
	float: left;
	position: absolute;
	left: 13px;
	top: 7px;
}

.back img {
	width: 25px;
}

.login_head {
	font-size: 16px;
}

.register_on {
	position: absolute;
	right: 15px;
	top: 10px;
}
/*body*/
.body{
	margin: 50px 0px;
}
.dep_h1 {
	border-bottom: 1px dashed #666;
}

.dep_h1 span {
	border-left: 5px solid #0a79e5;;
	display: inline-block;
	margin-bottom: 10px;
	padding-left: 10px;
	font-size: 16px;
}
.dep_img{
	display: block;
	background-image: url(../img/dep.png);
    background-size: 300px auto;
    background-color: #fff;
    background-repeat:no-repeat;
    padding: 10px;
}
.dep_tel{
	color: #fff;
}
.dep_img p{
	color: #fff;;
}
.dep_name{
	font-size: 18px;
	font-weight: 800;
}
.dep_doc{
	padding: 10px;
	border-bottom:5px solid #f1f1f1 ;
}
.doc_ul_box{
	overflow-x: hidden;
}
.doc_ul{
	padding:10px 0px 10px;
}
.doc_li{
	text-align: center;
	display: inline-block;
	border-radius: 10px;
	width: 80px;
}
.doc_img{
	border: 1px solid #f1f1f1;
	width: 50px;
	height: 50px;
	border-radius: 10px;
	margin: 5px 0px;
}
.doc_name{
	font-size: 12px;
}
.dep_item{
	padding: 10px;
	border-bottom:5px solid #f1f1f1 ;
}	
/*项目*/
.item_index{
	margin:10px 0px 20px 0px;
	display: block;
	box-shadow: -2px 2px 3px #f1f1f1;
	border-radius: 5px;
}
.item_relax{
	position: relative;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.item_box{
	background-color: #fff;
	border-bottom:5px solid #f1f1f1 ;
	text-align: left;
}
.item_img{
	height: 160px;
	width: 100%;
}

.item_abs{
	position: absolute;
	bottom: 0px;
	width: 100%;
	min-height: 48px;
	background-color: rgba(0,0,0,0.6);
}
.item_name{
	color: #fff;
	margin: 5px 10px;
	font-size: 14px;
	font-weight:800;
}
.item_details{
	display: inline-block;
	float: right;
	margin-right: 10px;
	font-size: 14px;
	color: #cdcdcd;
}
.item_other{
	height: 50px;
	padding: 5px 10px;
	display: block;
	text-align: left;
	border-bottom:1px solid #f1f1f1 ;
	position: relative;
}
.item_other_p{
	margin-right: 85px;
}
.item_other_img{
	position: absolute;
	top: 10px;
	right: 5px;
	height: 40px;
	width: 84px;
}
.item_zero{
	margin-top: 20px;
	text-align: center;
	color: #999;
}
.activity_head a{
	color: #ad37c5;
}
.activity_head a span{
	color: #ad37c5;
	float: right;
	padding-top: 10px;
	padding-right: 10px;
}
.activity_head a img{
	float: right;
	padding-top: 10px;
	padding-right: 5px;
	width: 20px;
}
/*科室介绍*/
.dep_introduce{
	padding: 10px;
}
.introduce_text{
	padding: 10px;
}
