* {
	font-family: "微软雅黑";
	margin: 0px;
	padding: 0px;
	font-size: 14px;
}

body {
	background-color: white;
}

li {
	display: inline;
}

textarea {
	width: 100%;
	outline: none;
	resize: none
}

table {
	border-spacing: 0px;
	width: 100%;
}

a {
	text-decoration: none;
}

body {
	background-color: #fff;
}

input:focus {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	outline: 0;
	/*消除获取焦点时的黄色高亮边框*/
}

.head {
	width: 100%;
	height: 50px;
	background-color: #fff;
	z-index: 10;
}

.body {
	border-top: 2px solid #f1f1f1;
}

.home_text_b {
	position: relative;
	text-align: center;
	padding: 7px 30px 16px 1px;
}

.home_text_box {
	background-color: #f1f1f1;
	padding: 3px 42px;
	margin: 0px 20px 0px 40px;
	border-radius: 2em;
}

.home_text {
	height: 1.4em;
	padding: 5px 2px;
	color: #666;
	width: 100%;
	background-color: #f1f1f1;
	border: 0px;
	border-radius: 10px;
}

.search_img {
	width: 25px;
	top: 12px;
	left: 55px;
	position: absolute;
}

.news {
	position: absolute;
	top: 8px;
	right: 10px;
	font-size: 10px;
	color: #FFFFFF;
	background-color: red;
	width: 15px;
	height: 15px;
	text-align: center;
	border-radius: 10px;
}

.news img {
	width: 25px;
	position: absolute;
	top: 6px;
	right: 8px;
	z-index: 15;
}

.back {
	float: left;
}

.back img {
	width: 25px;
	margin: 10px;
}

.search_text {
	position: absolute;
	top: 12px;
	right: 10px;
	color: #666;
	font-size: 15px;
}

.search_hots {
	padding: 20px;
}

.search_hots li {
	margin: 8px;
	padding: 5px 10px;
	background-color: #f1f1f1;
	display: inline-block;
}

.search_hots a {
	color: #666;
}

.search_list {
	width: 100%;
}

.search_li_box {
	width: 100%;
	height: 90%;
	position: absolute;
	top: 50px;
	background-color: #f1f1f1;
	display: none;
}

.search_ul {
	padding: 10px;
	background-color: #fff;
}

.search_li {
	border-bottom: 1px solid #cdcdcd;
	width: 100%;
	display: inline-block;
	padding: 10px 0px;
}

.search_li img {
	width: 20px;
	height: 20px;
	float: right;
	margin-right: 0px;
}

.search_mode {
	background-color: #FFF;
	border: 1px solid #f1f1f1;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	width: 50px;
	height: 21px;
	position: absolute;
	top: 8px;
	right: 50px;
	padding: 5px;
	padding-left: 10px;
	color: #999;
}

.search_mode_i {
	width: 10px;
}

.search_mode_list {
	width: 65px;
	position: absolute;
	top: 50px;
	right: 50px;
	display: none;
	z-index: 1000;
	background-color: #fff;
}

.search_mode_list li {
	display: block;
	color: #999;
	border: 1px solid #f1f1f1;
	padding: 5px 5px;
	text-align: center;
}

.search_mode_list_o {
	background-color: #0A79E5;
	color: #fff !important;
}

.index_i_search {
	width: 30px;
	height: 30px;
	position: absolute;
	left: 50px;
	top: 10px;
	background-position: -180px -90px;
	background-repeat: no-repeat;
	background-size: 240px 150px;
}

.index_i_back {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 8px;
	left: 5px;
	background-position: -120px -30px;
	background-repeat: no-repeat;
	background-size: 240px 150px;
	z-index: 500;
}

.store_img {
	background-image: url(../img/便利店标签.png);
}

.body_clas {
	padding: 10px;
	border-bottom: 1px solid #F1F1F1;
}

.body_clas_span {
	font-size: 14px;
	padding: 10px;
	color: #cdcdcd;
}

.body_clas_on {
	font-weight: 800;
	color: #666;
}

.body_li {
	display: block;
	padding: 10px;
	position: relative;
	border-bottom: 5px solid #f1f1f1;
}

.body_li_img {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 10px;
	left: 10px;
}

.body_li_text {
	margin-left: 60px;
}

.body_li_h1 {
	font-size: 14px;
	font-weight: 800;
	color: #666;
}

.body_li_h2 {
			margin: 5px 0px;
			height: 16px;
		}

.body_li_h2 span {
	border: 1px solid #f1f1f1;
	font-size: 10px;
	color: #999;
	padding: 0px 4px;
	margin: 5px 5px;
}

.body_li_h3 {
	font-size: 12px;
	color: #666;
}

.body_li_h3 span {
	font-size: 12px;
	color: #666;
}
.body_li_symbol {
	display: inline-block;
	text-align: center;
	font-size: 12px;
	color: #fff;
	width: 18px;
	height: 18px;
	margin-right: 5px;
	border-radius: 3px;
}
.body_li_range{
	float: right;
}
.body_li_h3_jian {
	background-color: #ea6953;
}

.body_li_h3_shou {
	background-color: #62a710;
}

.body_coupon p {
	margin: 3px 0px;
}
.body_li_distance{
	float: right;
}
.body_li_store{
	border-bottom: 1px solid #f1f1f1;
	padding-bottom: 5px;
}
.commodity_img{
	width: 80px;
	height: 80px;
	position: absolute;
	top: 80px;
	left: 10px;
}
.body_li_commodity{
	padding-top: 10px;
}
.commodity_text{
	margin-left: 90px;
}
.body_li_h4{
	color: #cc0000;
}
.body_li_h4 del{
	color: #cdcdcd;
	font-size:12px ;
	margin-left: 5px;
}
.body_li_h4 del span{
	font-size:12px ;
}
